body {
    font-family: "Audiowide", Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 190px; 
}

.header {
    padding-top: 20px;
    color: rgb(250, 250, 108);
    font-size: 50px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(250, 250, 108);
    font-size: 20px;
}

.computer-score,
.player-score {
    border: 3px solid rgb(97, 9, 168);
    border-radius: 14px;
    padding: 20px;
    margin: 20px;
}

.square1,
.square2 {
    flex-grow: 0;
    flex-basis: 135px;
}

.img-challenge,
.arrow {
    border: 2px solid black;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    border: 2px solid rgb(250, 250, 108);
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}
  
.buttons {
    margin: 20px 0px 40px;
    max-width: 200px;
    filter: drop-shadow(8px 8px 10px rgb(233, 231, 132));
}

.computer-choice,
.player-choice {
    font-size: 16px;
    background-color: blueviolet;
}

.play-text {
    color: blueviolet;
    font-size: 30px;
    padding-bottom: 40px;
}
