body {
    font-family: "Audiowide", Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center  
}

.header {
    padding-top: 30px;
    color: rgb(250, 250, 108);
    font-size: 50px;
}
